@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@400;500;700&display=swap');



* {
    /* border: solid yellow; */
    box-sizing: border-box;
   
}

body {
    font-family: "Poppins";
    background-color: #0C1B33;
    color: white;
    margin: 0;
    padding: 0;
}

.title{
    font-size: 1.5rem;
}

.subtext{
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  span{
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

main {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 8rem;
    justify-content: center;
    height: calc(100vh - 40px);
    /* border: solid red; */
}

.theme-light {
background-color: white;
color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* .theme-dark {
    --color-primary:
} */

.keyboard {
    animation: 1s ease-out 0s 1 slideIn;
    position: relative;
    display: flex;
    height: max-content;
}

.white {
    display: flex;
}
.white-key {
    display: flex;
    justify-content: center;
    position: relative;
    color: black;
    background-color: white;
    height: 200px;
    min-width: 50px;
    border: solid black 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.white-key h1 {
    position: absolute;
    bottom: 10%;
}

 .black {
    display: flex;
    /* box-sizing: border-box; */
    /* position: absolute; */
}  

.black-key:nth-child(1) {
    left: 6%;
}

.black-key:nth-child(2) {
    left: 16%;
}
.black-key:nth-child(3) {
    left: 36%;
}
.black-key:nth-child(4) {
    left: 46%;
}
.black-key:nth-child(5) {
    left: 56%;
}
 .black-key:nth-child(6) {
    left: 76%;
}
.black-key:nth-child(7) {
    left: 86%;
} 
.black-key {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: black;
    height: 120px;
    width: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border: solid white; */
}

.keyboard {
    border: solid black;
    margin-top: 4rem;
}

.key {
    cursor: pointer;
    /* border-radius: 5px; */
    overflow: hidden;
}

.key h1 {
    font-size: 1.3rem;
}

.white-key.active {
    background-color:rgba(255, 94, 94, 0.699) ;
}

.black-key.active {
    background-color: rgba(254, 240, 47, 0.72);
}

/* .white {
    height: max-content;
} */


@keyframes slideIn {
    0%{
        transform:translateY(150%);
    }
    100%{
        transform: translateY(0);
    }
}



